@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: poppins;
}

header{
    display: flex;
    justify-content: center;
    
    
}
header nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav ul li{
    list-style-type: none;
}

.box-interface{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    border: none ;
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(241, 231, 24);
    border-radius: 8px;
    box-shadow: rgba(216, 195, 32, 0.3) 0px 19px 38px, rgba(242, 205, 22, 0.86) 0px 15px 12px;
}

.box-text{
    max-width: 600px;
}

.box-shadowning img{
    border-radius: 30%;
}

.imgsCortes{
    justify-content: center;
    margin-top: 150px;
    display: flex;
    gap: 30px;
}

.image1, .image2, .image3{
    border: 1px solid;
    width: 250px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
}

.agendar{
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    background-color: rgba(242, 205, 22, 0.86);
    color: white;
}